<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="user-<%= user.id %>">
        <td><%= link_to user.email, user_path(user.path_keys) %></td>
        <td><%= user.role.titlecase %></td>
        <td><%= user.active %></td>
        <td><%= link_to 'Edit', edit_user_path(user.path_keys) %></td>
        <td>
          <% if user.active %>
          <%= button_to "Disable", user_path(user.path_keys), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(user.path_keys), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
        <td>
          <% unless user.admin? %>
            <% if user.merchant? %>
            <%= button_to "Downgrade to User", user_path(user.path_keys), method: :patch, params: { toggle: :role } %>
            <% else %>
            <%= button_to "Upgrade to Merchant", user_path(user.path_keys), method: :patch, params: { toggle: :role } %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
