<h1>
  Welcome,
    <%= @user.name if current_user == @user %>
    <%= @user.name if current_admin? %>
</h1>

<div class="profile-data">
  <table>
    <tr><td>name:</td><td><%= @user.name %></td></tr>
    <tr><td>email:</td><td><%= @user.email %></td></tr>
    <tr><td>address:</td><td>
      <%= @user.address %>
      <%= @user.city %>, <%= @user.state %>
      <%= @user.zip %></td></tr>
  </table>

  <p><%= link_to "Edit Profile Data", current_admin? ? edit_user_path(@user.path_keys) : profile_edit_path %></p>
</div>

<% unless @user.orders.empty? %>
  <p><%= link_to "View Personal Orders", current_admin? ? user_orders_path(@user) : profile_orders_path %>
<% end %>

<% if current_admin? %>
  <% if @user.active %>
  <%= button_to "Disable", user_path(@user.path_keys), method: :patch, params: { toggle: :disable } %>
  <% else %>
  <%= button_to "Enable", user_path(@user.path_keys), method: :patch, params: { toggle: :enable } %>
  <% end %>
  <%= button_to "Upgrade to Merchant", user_path(@user.path_keys), method: :patch, params: { toggle: :role } %>
<% end %>
