<h1>Merchants</h1>

<div class="leaderboards">
  <h2>Leaderboards</h2>
  <%= render 'leaderboard', id: "most_sold", title: 'Merchants who sold the most items in the past month', users: top_sold_merchants_for_past_month %>
  <%= render 'leaderboard', id: "most_fulfilled", title: 'Merchants who fulfilled non-cancelled orders in the past month', users: top_fulfilled_merchants_for_past_month %>
  <% if current_user.present? %>
    <%= render 'leaderboard', id: "fastest_fulfilled_in_state", title: 'Merchants who have fulfilled items the fastest to your state', users: top_fastest_merchants_in_user_state %>
    <%= render 'leaderboard', id: "fastest_fulfilled_in_city", title: 'Merchants who have fulfilled items the fastest to your city', users: top_fastest_merchants_in_user_city %>
  <% end %>

</div>

<br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_admin? %>
      <th>Active</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr id="merchant-<%= merchant.id %>">
        <td>
        <% if current_admin? %>
        <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>
        <%= merchant.name %>
        <% end %>
        </td>
        <% if current_admin? %>
        <td><%= merchant.active %></td>
        <td>
          <% if merchant.active %>
          <%= button_to "Disable", user_path(merchant.path_keys), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(merchant.path_keys), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
