<h1>My Cart</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td><%= link_to item.name, item_path(id: item.slug) %></td>
        <td>
          <img id="item-image-<%= item.id %>" alt="image for <%= item.name %>" src="<%= item.image %>" width="200" />
        </td>
        <td>Merchant: <%= item.user.name %></td>
        <td>Price: <%= item.price %></td>
        <td>Quantity: <%= @cart.count_of(item.id) %></td>
        <td>Subtotal: <%= number_to_currency(item.price * @cart.count_of(item.id)) %></td>
        <td>
          <%= button_to 'Add 1', cart_item_quantity_path(item_id: item.id), method: :patch, params: {quantity: :more} %>
          <%= button_to 'Remove 1', cart_item_quantity_path(item_id: item.id), method: :patch, params: {quantity: :less} %>
          <%= button_to 'Remove All', cart_item_quantity_path(item_id: item.id), method: :patch, params: {quantity: :none} %>
          decrease/remove
          </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4></td>
      <td>Grand Total: <%= number_to_currency(@cart.grand_total) %></td>
    </tr>
  </tbody>
</table>

<%= button_to 'Empty Cart', cart_path, method: :delete %>

<% if current_user %>
  <%= button_to 'Check out', orders_path, method: :post %>
<% else %>
  <div id="must-log-in">
  You must <%= link_to 'register', register_path %> or
  <%= link_to 'log in', login_path %> to complete your purchase.
  </div>
<% end %>
