<%= form_for [@merchant, @item], url: @form_url do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, {id: :item_name, required: true} %>
  </div>

  <% if current_admin? %>
    <div class="field">
      <%= f.label :slug %>
      <%= f.text_field :slug, {id: :item_slug, required: true} %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, {id: :item_description, required: true} %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image, id: :item_image %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, {id: :item_price, required: true, min: 0} %>
  </div>

  <div class="field">
    <%= f.label :inventory %>
    <%= f.number_field :inventory, {id: :item_inventory, required: true, min: 0} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
