<h1>Items</h1>

<div id="stats">
  <div id="popular-items">
    <div class="card float-left m-3" style="width: 25rem;">
    <div class="card-body">
    <h5 class="card-title">Most Popular Items:</h5>
    <% if @popular_items %>
    <ul>
    <% @popular_items.each do |item| %>
      <li><%= item.name %>, ordered <%= item.total_ordered %> times</li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
    </div>
  </div>

  <div id="popular-merchants">
    <div class="card float-left m-3" style="width: 25rem;">
    <div class="card-body">
    <h5 class="card-title">Most Popular Merchants:</h5>
    <% if @popular_merchants %>
    <ul>
    <% @popular_merchants.each do |merchant| %>
      <li><%= merchant.name %>, ordered from <%= merchant.total_orders %> times</li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>
  </div>

<br style="clear: both;">

  <div id="fastest-merchants">
    <div class="card float-left m-3" style="width: 25rem;">
    <div class="card-body">
    <h5 class="card-title">Fastest Merchants to Fulfill Ordered Items:</h5>
    <% if @fastest_merchants %>
    <ol>
    <% @fastest_merchants.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>
  </div>

  <div id="slowest-merchants">
    <div class="card float-left m-3" style="width: 25rem;">
    <div class="card-body">
    <h5 class="card-title">Slowest Merchants to Fulfill Ordered Items:</h5>
    <% if @slowest_merchants %>
    <ol>
    <% @slowest_merchants.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>
  </div>
</div>

<br style="clear: both;">

<% if current_user && current_user.merchant? || current_admin? %>
<%= link_to 'Add New Item', new_merchant_item_path(current_user) %>
<% end %>

<hr>

<% @items.each do |item| %>

<div class="card float-left m-3" style="width: 18rem;">
  <a href="<%= item_path(item.path_keys) %>">
  <img class="card-img-top" id="item-image-<%= item.id %>" alt="image for <%= item.name %>" src="<%= item.image %>" width="200" />
  </a>

  <div class="card-body" id="item-<%= item.id %>">
    <h5 class="card-title">
      <%= link_to item.name, item_path(item.path_keys), class: 'card-link' %>
      <% if current_admin? || current_user == item.user %>
      <%= link_to "ID: #{item.id}", item_path(item.path_keys) %>
      <% end %>
    </h5>
    <img class="card-img-top" id="item-image-<%= item.id %>" alt="image for <%= item.name %>" src="<%= item.image %>" width="0" />
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>
      <strong>Merchant:</strong> <%= item.user.name %><br/>
      <strong>Inventory:</strong> <%= item.inventory %></p>
    <p><em><%= item.description %></em></p>

    <% if current_admin? || current_user && current_user == item.user %>
      <p>Item Active: <%= item.active %></p>
      <p><%= link_to 'Edit Item', edit_merchant_item_path(current_user, item), class: 'card-link' %></p>
      <% if item.active %>
      <%= button_to "Disable Item", merchant_item_disable_path(current_user, item.id), method: :patch, params: { toggle: :disable } %>
      <% else %>
      <%= button_to "Enable Item", merchant_item_enable_path(current_user, item.id), method: :patch, params: { toggle: :enable } %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
